<app-hero-banner
  [video]="'assets/videos/product_video.mp4'"
  title="Expert Mobile Repair Services"
  description="Fast and affordable phone repairs by certified professionals."
></app-hero-banner>

<!-- FLOATING CART BUTTON -->
<div class="floating-cart" 
     [class.sticky]="isSticky()" 
     (click)="openCartDrawer()">
  <i class="fa-solid fa-cart-shopping"></i>
  <span class="cart-badge">{{ cart.cartItems().length }}</span>
</div>


<h2 class="page-title">Our Product Collection</h2> 

<section class="products-page">
  <!-- CATEGORY FILTERS -->
  <div class="categories">
    <button 
      *ngFor="let c of categories"
      (click)="selectCategory(c.label)"
      [class.active]="selectedCategory() === c.label">
      <i class="fa-solid" [ngClass]="c.icon"></i> 
      {{c.label}}
    </button>
  </div>

  <!-- SEARCH BAR -->
<div class="search-wrapper">
  <div class="search-border">
    <div class="search-box">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input 
        type="text" 
        placeholder="Search products..." 
        (input)="onSearch($event)"
      />
    </div>
  </div>
</div>



  <div class="products-grid">
    <app-product-card
      *ngFor="let p of filteredProducts()"
      [product]="p"
    ></app-product-card>
  </div>
</section>

<!-- CART DRAWER -->
<div class="cart-drawer" [class.open]="drawerOpen()">

<div class="drawer-header">
  <div class="title-row">
    <i class="fa-solid fa-bag-shopping header-icon"></i>
    <h3>Your Cart</h3>
  </div>

  <button (click)="closeCartDrawer()">
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>


<div class="drawer-items">
  <div class="drawer-item" *ngFor="let item of cart.cartItems()">
    <img [src]="item.img" />
    <div class="info">
      <h4>{{ item.name }}</h4>
      <p>Qty: {{ item.qty }}</p>
      <span class="price">₹{{ item.price * item.qty }}</span>
    </div>
  </div>
</div>



  <div class="drawer-footer">
    <h3>Total: ₹{{ cart.totalPrice() }}</h3>
<button class="checkout-btn" routerLink="/cart">
  Go to Cart
</button>
  </div>
</div>
